@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Aclonica");
@import "home.events.css";
@import "home.about.css";
@import "home.footer.css";

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
    --background-color: #4a4a4a;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    background: linear-gradient(116.82deg, #54A7FF 0%, #002144 100%);
}

/* Page other layout */
#wrapper {
    left: 0;
    width: 100%;
    position: relative;
    background: #4a4a4a;
    background: linear-gradient(180deg, rgba(74, 74, 74, 0) 0, rgba(0, 0, 0, .7819327560125613) 25%);
}
.title {
    color: #fff;
    font-family: Aclonica, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.next-event-hr{
    border: 1px solid rgba(255, 255, 255, 0.88);
}
.navbar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding: 1.2rem;
    display: none;
    transition:500ms ease;
    background-color: transparent;
}
.nav-items {
    padding: 12px;
}
.navbar.scrolled{
    background:rgb(0, 0, 0);
}
#responsabili {
    margin: 2% 0;
    color: #fff;
    font-family: Aclonica, sans-serif;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1a1f71;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1031;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #2023ff;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #227ff9;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}
/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}

.video-parallax-container video {
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: opacity 1s;
    -webkit-transition-position: fixed;
    position: fixed;
    overflow: hidden
}
.video-parallax-container {
    height: 100vh;
    overflow: hidden;
}
.filter {
    filter: brightness(0.2);
}

.content{
    min-height: calc(100vh - 60px)
}
.div-center{
    vertical-align: middle
}
.bg-transparent {
    background-color: transparent;
}
.text-grey-darkest {
    color: #3d4852;
}
.font-bold {
    font-weight: 700;
}
.uppercase {
    text-transform: uppercase;
}
.tracking-wide {
    letter-spacing: .05em;
}
.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem;
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.border-grey-light {
    border-color: #dae1e7;
}
.hover\:border-grey:hover {
    border-color: #b8c2cc;
}
.border-2 {
    border-width: 2px;
}
.rounded-lg {
    border-radius: .5rem;
}
